Django>=5.0
django-htmx
django-tailwind
django-otp
qrcode
psycopg2-binary
redis
celery
requests
pyyaml
gunicorn
uvicorn
django-compressor
django-crispy-forms
crispy-tailwind
bcrypt
psutil
dj-database-url
# For geoip
geoip2
